<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:lang="http://www.springframework.org/schema/lang" xmlns:task="http://www.springframework.org/schema/task" 
	xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd 
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.1.xsd
http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang-4.1.xsd
http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.0.xsd">


	<context:annotation-config />
	<context:component-scan base-package="com.leohart.buildwhisperer" />
	<task:annotation-driven />

	<bean id="repository"
		class="com.leohart.buildwhisperer.repositories.json.generic.RegexMatchingJsonBuildStatusRepository">
		<constructor-arg name="jsonURL"
			value="https://ci.jenkins-ci.org/job/core_selenium-test/lastBuild/api/json?tree=result" />
		<constructor-arg name="successRegEx" value=".*SUCCESS.*" />
	</bean>

	<bean id="controller" class="com.leohart.blinkytape.SerialBlinkyTapeController">
		<constructor-arg name="portName" value="COM9" />
	</bean>

	<bean id="indicator"
		class="com.leohart.buildwhisperer.indicators.blinkytape.BlinkyTapeBuildStatusIndicator">
		<constructor-arg name="controller" ref="controller" />
		<constructor-arg name="successBlinkyFramePattern"
			value="json-to-blinkyTape/SuccessPattern.png" />
		<constructor-arg name="failureBlinkyFramePattern"
			value="json-to-blinkyTape/FailurePattern.png" />
	</bean>

	<bean id="turnOffCriteria"
		class="com.leohart.buildwhisperer.indicators.WorkWeekTurnOffCriteria">
		<property name="workDayStartHour" value="7" />
		<property name="workDayEndHour" value="19" />
		<property name="workWeekStartDay">
			<util:constant static-field="org.joda.time.DateTimeConstants.MONDAY" />
		</property>
		<property name="workWeekEndDay">
			<util:constant static-field="org.joda.time.DateTimeConstants.FRIDAY" />
		</property>
	</bean>

	<bean id="partTimeIndicator" class="com.leohart.buildwhisperer.indicators.PartTimeDecorator">
		<constructor-arg index="0" ref="indicator" />
		<constructor-arg index="1" ref="turnOffCriteria" />
	</bean>

	<!-- Bridge -->
	<bean id="buildStatusBridge"
		class="com.leohart.buildwhisperer.bridges.SimpleBuildStatusBridge"
		lazy-init="true">
		<constructor-arg index="0" ref="partTimeIndicator" />
		<constructor-arg index="1" ref="repository" />
	</bean>

</beans>
